In [2]:
import pandas as pd 

df = pd.read_csv('diabetes500Rows.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Diabetes_012          500 non-null    int64
 1   HighBP                500 non-null    int64
 2   HighChol              500 non-null    int64
 3   CholCheck             500 non-null    int64
 4   BMI                   500 non-null    int64
 5   Smoker                500 non-null    int64
 6   Stroke                500 non-null    int64
 7   HeartDiseaseorAttack  500 non-null    int64
 8   PhysActivity          500 non-null    int64
 9   Fruits                500 non-null    int64
 10  Veggies               500 non-null    int64
 11  AnyHealthcare         500 non-null    int64
 12  NoDocbcCost           500 non-null    int64
 13  GenHlth               500 non-null    int64
 14  DiffWalk              500 non-null    int64
 15  Sex                   500 non-null    int64
 16  Age                   500 non-null    int64
 17  Education             500 non-null    int64
dtypes: int64(18)
memory usage: 70.4 KB

In [3]:
df.describe()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,AnyHealthcare,NoDocbcCost,GenHlth,DiffWalk,Sex,Age,Education
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,1.020000,0.634000,0.568000,0.986000,29.314000,0.398000,0.040000,0.164000,0.522000,0.496000,0.764000,0.956000,0.150000,3.130000,0.326000,0.370000,8.306000,4.592000
std,0.820333,0.482192,0.495851,0.117608,6.076945,0.489976,0.196155,0.370646,0.500016,0.500485,0.425047,0.205301,0.357429,1.054193,0.469217,0.483288,2.814998,1.269945
min,0.000000,0.000000,0.000000,0.000000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,2.000000
25%,0.000000,0.000000,0.000000,1.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,2.000000,0.000000,0.000000,7.000000,4.000000
50%,1.000000,1.000000,1.000000,1.000000,28.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000,9.000000,5.000000
75%,2.000000,1.000000,1.000000,1.000000,32.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,4.000000,1.000000,1.000000,10.000000,6.000000
max,2.000000,1.000000,1.000000,1.000000,60.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,1.000000,1.000000,13.000000,6.000000

##### Goal : diabetes Prediction based on health indicators

##### Source link : https://www.example.com/dataset.csv